<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./_partials/head'); %>
</head>

<body class="bg-dark">

    <header class="container-fuild text-warning bg-dark">
        <%- include('./_partials/header'); %>
    </header>

    <main class="fs-6 text-warning px-5 py-5 pb-3">

        <%- include('./components/welcome'); %>
        <%- include('./container/listCards'); %>
        
    </main>

    <footer class="text-warning px-5 py-2 fixed-bottom bg-dark">
        <%- include('./_partials/footer'); %>
    </footer>

</body>

</html>









<!-- <html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link 
        rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
        crossorigin="anonymous"
    >

    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" 
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" 
        crossorigin="anonymous"
    >
    </script>

    <link 
        rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" 
        integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" 
        crossorigin="anonymous"
    >

    <title>Document</title>
</head>

<body>

    <div class="container mt-3 bg-danger">
        <h2>Tipografia</h2>
        <i class="fa-solid fa-user"></i><p class="text-lowercase">Caixa Baixa.</p>
        <i class="bi bi-4-square-fill"></i><p class="text-uppercase">Caixa Alta.</p>      
        <p class="text-capitalize">Capitalize o texto!</p>
    </div>
    <i class="bi bi-bookmark-fill" style="color: #07f217;"></i>
  


    <h2>Digite alguma coisa para salvar no banco de dados!</h2>
    <form id="form-1" class="design" method="POST">
        <label class="att">Atributo UM (ID) <input id="sendID" class="att" name="attONE" type="number"></label>
        <label class="att">Atributo DOIS<input id="sendString" class="att" name="attTWO" type="text"></label>
        <button class="send" type="submit">ENVIAR</button>
    </form>
    <section>
        <h2>Faça uma consulta para alterar ou deletar os dados!</h2>
        <form id="form-2" method="GET" class="design">
            <label class="att">ID<input id="searchID" class="att" type="number"></label>
            <button class="search">PESQUISAR</button>
        </form>
    </section>
    <div id="res">
        <%if(typeof resObj != 'undefined' ){
            resObj.forEach(function(attribute) { 
                const editID = `/put/${attribute.attOne}`
                const deleteID = `/delete/${attribute.attOne}`
                %>
            <p>
               ID: <%= attribute.attOne %>
            </p>
            <p>
                Texto: <%= attribute.attTwo %>
            </p>
            <a href= <%= editID %> id="edit"> Editar</a>
            <a href= <%= deleteID %> id="delete"> Excluir</a>
            <% })}%>
    </div>
</body>
<script src="/scripts/index-script.js"></script>

</html> -->