<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./_partials/head'); %>
</head>

<body class="bg-dark">

    <header class="container-fuild text-warning bg-dark font-monospace">
        <%- include('./_partials/header'); %>
    </header>

    <main class="fs-6 text-warning px-5 py-5 pb-3 font-monospace">
        <%
            if(notes.length > 0){
            %><%-include('./container/listCards');%><%
            }else{
                %><%-include('./components/welcome');%><%
            }
            
        %>
        
    </main>

    <footer class="text-warning px-5 py-2 fixed-bottom bg-dark font-monospace">
        <%- include('./_partials/footer'); %>
    </footer>
   
</body>
<script src="/scripts/common-script.js"></script>
</html>
