<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./_partials/head'); %>
</head>

<body class="container-fuild bg-dark font-monospace">

    <header class="text-warning bg-dark">
        <%- include('./_partials/header'); %>
    </header>
    <% const url_update = "/notes/" + current_note.id + "/edit";  %>
    <main class="fs-6 text-warning px-2 px-md-5 pb-3">
        <div class="d-flex justify-content-end px-4 pb-3">
            <a href=" <%=url_update %> ">
                <button class="btn btn-sm btn-warning">
                    Editar
                </button>
            </a>
            <div class="vr mx-2"></div>
            <a href="/notes">
                <button type="button" class="btn btn-sm btn-light">
                    Home
                </button>
            </a>
        </div>
        <div class="mb-5">
            <div class="card bg-dark text-white text-center">
                <div class="card-header">
                    <%=current_note.title %>
                </div>
                <div class="card-body body-dark" style="min-block-size: 23em;">
                    <p class="card-text">
                        <%=current_note.body %>
                    </p>
                </div>
                <div class="card-footer text-body-secondary d-flex flex-row-reverse">
                   
                </div>
            </div>
        </div>

    </main>

    <footer class="text-warning px-5 py-2 fixed-bottom bg-dark">
        <%- include('./_partials/footer'); %>
    </footer>

</body>
<script src="/scripts/common-script.js"></script>
</html>
